// Define variables for your color scheme

// For example:
$red: #DC3545;
$medium-red: #f44335;
$blue: #0066ff;
$light-blue:#03a9f4;
$yellow: #FFC65A;
$orange: #fb8c00;
$green: #4caf50;
$gray: #0E0000;
$light-gray: #F4F4F4;
$medium-gray:#666666;
$magenta: #e91e63;
$black: #212529;
$white: #FFFFFF;
