body{
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.container-home{
  display: flex;
  flex-direction: column;
  background-image: url("");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.box-home{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 300px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.logo-img{
  height: 3.5rem;
  width: 3.5rem;
}

.box-home h1{
  color: $blue;
  font-weight: bold;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 48px;
}

.box-home p{
  color: $medium-gray;
  font-size: 16px;
}

.container-home footer{
  bottom: 1rem;
  position: absolute;
}


