
<div class="title">
  <button>
    <%= link_to image_tag('left-arrow.svg', alt: 'left-arrow'), credit_cards_path %>
  </button>

  <button>
    <%= link_to image_tag('menu-dots.svg', alt: 'three dots'), profile_path %>
  </button>
</div>
