<footer>
    <button class="dash-btn">
        <div class="sign">
            <%= image_tag 'house.svg', alt: 'house'%>
        </div>
        <div class="text">Home</div>
    </button>
    <button class="dash-btn">
        <div class="sign">
            <%= image_tag 'world.svg', alt: 'world'%>
        </div>
        <div class="text">Goal</div>
    </button>
    <button class="dash-btn">
        <div class="sign">
            <%= image_tag 'cash.svg', alt: 'cash'%>
        </div>
        <div class="text">Wallet</div>
    </button>
    <button class="dash-btn">
        <div class="sign">
            <%= image_tag 'profile.svg', alt: 'profile'%>
        </div>
        <div class="text">Profile</div>
    </button>
</footer>
