 <div class="title">

  <button>
    <%= image_tag 'left-arrow.svg', alt: 'left arrow' %>
  </button>

  <p>Card Center</p>

  <button>
    <%= image_tag 'question.svg', alt: 'question mark' %>
  </button>

</div>
