 <div class="container text-center">
  <div class="title-index d-flex justify-content-between mb-3 align-items-center">
    <%= link_to :back do %>
      <%= image_tag("left-arrow.svg", alt: "left-arrow") %>
    <% end %>
    <div class="col-10 text1 text-center">
      <h4 class= "h4 fw-lighter">Card Center</h4>
    </div>

  <%= link_to contact_path do %>
    <%= image_tag("analytics.gif", alt: "analytics", size:"36x36") %>
  <% end %>

  </div>
</div>
