 <div class="container">

  <button>
    <%= image_tag 'left-arrow.svg', alt: 'left arrow' %>
  </button>

 <h5 class="display-7"> Card Center </h5>

  <button>
    <%= image_tag 'question.svg', alt: 'question mark' %>
  </button>

</div>
