<%= render 'menu' %>
<div class="container">
<%# <h1>Edit Credit Card</h1> %>

  <%= render 'form', credit_card: @credit_card %>

  <%# <%= link_to 'Back', credit_card_path %>
</div>

<%# <%= render 'shared/tapbar' %>
