<%= render 'card_center' %>

<div class="container">
  <%= render 'form' %>
</div>
 <%# <div class="text-center mt-4">
  <%= link_to 'Back', credit_cards_path, class: 'btn btn-primary' %>
<%# </div> %>

<%= render 'tapbar' %>
