<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/raemarchetti/magic-pills-marketplace"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/lewagonbrasil/#"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/lewagonbrasil"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/LeWagonBrasil"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/showcase/le-wagon-brasil"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Your Saving Journey Starts Here! <i class="fa-solid fa-star"></i> SaveApp <i class="fa-solid fa-star"></i>
  </div>
</div>
