<div class="title">
  <button>
    <%= link_to image_tag("left-arrow.svg", alt: "left-arrow", size: ""), url_for(:back) %>
  </button>

  <button>
    <%= link_to image_tag("question.svg", alt: "question mark"), contact_path %>
  </button>
</div>
