<div class="tapbar">
  <div class="items-tapbar <%= "active" if current_page?(root_path) %> d-flex flex-column align-items-center">
  <%= link_to root_path do %>
 <i class="fa-regular fa-house"></i>
  <% end %>
  <span class="">Home</span>
</div>
</div>
