<%# <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> %>
<head>
<title>Roundup Savings App</title>
</head>
<body>
<section id="hero">
<div class="hero-content">
<h1>Save Effortlessly</h1>
<p>Our Roundup feature helps you save while you spend.</p><br>
<p>Every purchase you make gets rounded up to the nearest dollar, and the difference is saved automatically.</p>
<a href="#" class="cta">Start Saving</a>
</div>
<%# <video autoplay muted loop class="hero-bg">
<source src="people_bg.mp4" type="video/mp4">
</video> %>
<%# <%= video_tag "people_bg.mp4", autoplay: true, muted: true, loop: true, class: "hero-bg" %>
</section>
</body>
