<%# <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> %>
<body style="overflow: hidden;">
  <div class="d-flex flex-column justify-content-center align-items-center min-vh-100">
    <div class="text-center">
      <%= image_tag('saveapp_logo.png', alt: 'saveapp logo', size: '300x160', class: 'img-fluid') %>
      <p class="mt-4">Save effortlessly, invest wisely</p>
      <button class="btn btn-primary w-100 mb-3">Continue</button>
    </div>
  </div>
</body>
