<div class="container mt-4">
  <div class="row">
    <div class="col-6 m-auto">
      <div class="goal-form">
        <%= simple_form_for(@goal, url: goals_path, local: true) do |form| %>
        <%= form.input :goal_name, input_html:  { data: { target: "objectives.goal" } } %>
        <%= form.input :goal_amount, as: :decimal, input_html: { step: '0.01' } %>
      </div>

        <%# <%= form.button :submit, 'Create Goal', class: 'btn btn-primary' %>

    <% end %>
    </div>
  </div>
</div>
