<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <%# <div class="card">
        <div class="card-body"> %>
          <%= simple_form_for(@goal, url: goals_path, local: true) do |form| %>
            <%= form.input :goal_name, label: 'Goal Name', required: false, label_html: { class: 'h6 font-weight-normal' }, input_html: { class: 'form-control', data: { target: "objectives.goal" } } %>
            <%= form.input :goal_amount, label: 'Goal Amount', required: false, as: :decimal, label_html: { class: 'h6 font-weight-normal' }, input_html: { class: 'form-control', step: '0.01' } %>
            <%= form.button :submit, 'Add New Goal', class: 'btn btn-primary btn-block mt-4' %>
          <% end %>
        <%# </div>
      </div> %>
    </div>
  </div>
</div>
