<div class="container">

<h3>Goals</h3>
<% if @goals %>
  <% @goals.each do |goal| %>
      <p><%= goal.goal_name %></p>
      <p>$<%= goal.goal_amount.round(2) %></p>
      <p>$<%= goal.goal_amount.round(2) %></p>
    <% end %>
  <% else %>
    <h3>Create your first goal.</h3>
<% end %>
<%= link_to "Add a Goal", new_goal_path, class:'btn btn-primary' %>
</div>
