<div class="container">
<h1><%= @transaction.transaction_origin %></h1>

<p>Amount: <%= number_to_currency(@transaction.transaction_amount, unit: '$', precision: 2) %></p>
<p>Date: <%= @transaction.transaction_date %></p>

<%= link_to 'Back', transactions_path, class:'btn btn-primary my-3' %>

</div>
